<main>
  <!--<app-create-content (addCarEvent)="addNewCar($event)"></app-create-content>-->

  <section class="searchForTitle">
    <div>
      <input type="text" [(ngModel)]="searchTitle" placeholder="Search Title here...">
      <button (click)="searchByTitle()">Search</button>
    </div>

    <div *ngIf="titleFound !== null">
      <p [style.color]="titleFound ? 'yellow' : 'crimson'">
        {{titleFound ? 'Car Found' : 'Car not found'}}
      </p>
    </div>
  </section>


  <h1>Cars with no type</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contentType" appHoverAffect="border">
      <app-content-card [car]="content" [class]="'noContentType'"></app-content-card>
    </div>
  </section>

  <h1>Hyper</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contentType:'Hyper'" appHoverAffect="border">
      <app-content-card [car]="content" [class]="'hyper Type'"></app-content-card>
    </div>
  </section>

  <h1>Super</h1>
  <section class="cards">
    <div *ngFor="let content of contents | contentType:'Super'" appHoverAffect="border">
      <app-content-card [car]="content" [class]="'super Type'"></app-content-card>
    </div>
  </section>
</main>
